PORT=
DATABASE_URL=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=

# EMAIL SMTP CONFIG
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

CLIENT_BASE_URL=
BASE_URL=


# CLOUDINARY CONFIG
CLOUDINARY_CLOUD_NAME=
